body {
	font-family: 'Inconsolata', sans-serif;	
}

h1 {
	font-weight: normal;	
	padding-bottom: 0.5em;
	border-bottom: 2px solid red;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid red;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label{
    display: block;    
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
    margin-top: 5px;
}

input[type=checkbox]:checked + label{
  background-position: left -32px;
}

label{
  background-image:url('../images/assets/tick.png');
}

.navs {
	position: absolute;
	top: 20px;
	left: 20px;	
}

nav {
	width: 40%;
	margin-right: 1em;
	display: inline-block;
}

select {
	outline: none;
	background: url('../images/illustrations/arrow.png') no-repeat 90% #DDD;	
	border: none;
	-webkit-appearance: none;
	padding: 1em 4em 1em 1em;
	border-radius: 0;
	font-family: inconsolata;
	font-size: 1em;	
	width: 100%;
}

select option {
	border-bottom: 1px solid red;
}

#logo {
	display: block;
	height: 120px;	
	border-bottom: none;
}

#logo img{
	max-height:100%;
	max-width:100%;
}

#notes {
	background: #DDD;
	padding: 2em;
	line-height: 1.4em;
}

#edit {
	background: #DDD;	
	color: black;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 13px;
}

#container {
	width: 80%;
	max-width: 1024px;	
}

#content img {
	max-width: 100%;
	margin: 1em 0;
}

#container p {		
	line-height: 1.4em;
}

#content p {	
	margin: 2em 0;
	line-height: 1.4em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#container img.float {
	float: left;
	margin: 0 1em;
	max-width: 40%;
}

.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}

/* tablets and desktop */
@media only screen and (min-width: 768px) {
    #container {
 		margin: 120px auto;
 	}

    .navs {
    	width: 50%;
    }

    nav {
    	display: inline-block;
    }
}

/* phones */
@media only screen and (max-width: 767px) {
    #container {
 		margin: 120px auto;
 	}

    .navs {
		width: 50%;
    }

    nav {
    	display: inline-block;
    }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
 	#container {
 		margin: 150px auto;
 	}

 	.navs {
    	width: 100%;
    }   

    nav {
    	display: block;
    }
}