<div class="navs">
	<nav class="nav-primary" role="navigation" >
	    <select onchange="window.location.href=this.value">
	    	<option selected disabled>Languages</option>
	        {% for p in site.pages %}
	        {% if p.category == 'language' %}
	        <option {% if p.url == page.url %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ p.url }}">
	        	{{ p.language }}
	        </option>
	        {% endif %}
	        {% endfor %}
	    </select>
	</nav>
	<nav class="nav-primary" role="navigation" >
	    <select onchange="window.location.href=this.value">
	    	<option selected disabled>Derivatives</option>
	        {% for p in site.pages %}
	        {% if p.category == 'derivative' %}
	        <option {% if p.url == page.url %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ p.url }}">
	        	{{ p.title }}
	        </option>
	        {% endif %}
	        {% endfor %}
	    </select>
	</nav>
</div>
